/*Fonts*/
/*@font-face {*/
/*  font-family: 'Roboto';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: local('Roboto'), local('Roboto-Regular'),*/
/*  url('../fonts/roboto.woff2') format('woff2'), !* Super Modern Browsers *!*/
/*  url('../fonts/roboto.woff') format('woff'); !* Modern Browsers *!*/

/*}*/
/*@font-face {*/
/*  font-family: 'Roboto';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  src: local('Roboto Bold'), local('Roboto-Bold'),*/
/*  url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), !* Super Modern Browsers *!*/
/*  url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');!* Modern Browsers *!*/

/*}*/
/*@font-face {*/
/*  font-family: 'Roboto';*/
/*  font-style: normal;*/
/*  font-weight: 900;*/
/*  src: local('Roboto Black'), local('Roboto-Black'),*/
/*  url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), !* Super Modern Browsers *!*/
/*  url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'); !* Modern Browsers *!*/
/*}*/

/* Variables */
:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-white: #ffffff;
  --basic-grey: #888888;
  --basic-dark-grey: #666666;
  --basic-extra-dark-grey: #444444;
  --basic-extra-white: #EEEEEE;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --linear-gradient: 0deg, #E1E1E1, #E1E1E1;


  --special: #663d15;
}

body {
  min-width: 1177px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: none;
  background-color: var(--basic-white);
  /*background-image: url("../img/nerds-index-slide1-1.png");*/
  /*background-position: top center;*/
  /*background-repeat: no-repeat;*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Grid for pages */
.page-catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.page-catalog .page-title {
  order: 1;
  grid-column: 1 / -1;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.page-catalog .all-sorting-parameters {
  margin-bottom: 48px;
  order: 2;
  grid-column: 1 / -1;
  outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px;
}

/* Main header */

.main-header {
  /*margin-bottom: 9px;*/
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

/* Main navigation */

.main-navigation {
  display: grid;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-extra-white);
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

/* Container */

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Logo */

.main-header-logo {
  display: grid;
  width: 160px;
  height: 65px;
  margin-top: 30px;
  /*margin-left: 770px;*/
  align-self: center;
  /*padding: 23px 20px;*/
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}
/*.main-navigation .container {*/
/*  display: flex;*/
/*}*/

/*.main-navigation-wrapper .container {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*}*/
.main-header-bar {
  background-color: var(--basic-extra-white);
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;

}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 437px;
  margin-left: 202px;
  padding: 0;
  min-height: 114px;
  list-style: none;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-grey);
}

.site-navigation-item {
  color: var(--basic-black);
  background-color: var(--basic-extra-white);
  text-decoration: none;

}

/* User navigation */


.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 75px 9px 13px;

}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 105px;
  min-height: 114px;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {

  background-color: var(--basic-red);
}

/* Login link */

.login-link::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}
.user-navigation .login-link {
  padding-left: 40px;
  position: relative;

}

.slider {
  margin-bottom: 80px;

  background-color: var(--basic-extra-white);
}

.slider-list {
  list-style: none;
}

.slider-item-1 {
  background-image: url("../img/nerds-index-slide1-1.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.slider-item-2 {
  background-image: url("../img/nerds-index-slide2-1.png");
  background-position: right center;
  background-repeat: no-repeat;
  display: none;
}

.slider-item-3 {
  background-image: url("../img/nerds-index-slide3-1.png");
  background-position: right center;
  background-repeat: no-repeat;
  display: none;
}

/* Features */

.features,
.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-extra-white);

}

.services {
  margin-bottom: 73px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.service-item {
  width: 300px;
  margin-bottom: 70px;
  outline: 5px solid #ff0000;

}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Button */

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  /*vertical-align: center;*/
  text-transform: uppercase;
  background-color: var(--basic-red);
  width: 240px;
  height: 50px;
  border-radius: 3px;
  /*border: none;*/
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--special);
}
.button.filter-button {
  color: var(--basic-black);
  background-color: var(--basic-extra-white);
}
.button.reserve {
  width: 160px;

}
.green {
  width: 160px;
  background-color: var(--basic-green);
}

.yellow {
  width: 160px;
  background-color: var(--basic-yellow);
}
.button .write{
  width: 219px;

}
.content-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 60px;
  margin: 0;
  padding: 0;
}

.about-studio {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.field-of-activity-list {
  list-style: none;
}

.field-of-activity li{
  position: relative;
  padding-left: 32px;
}
.field-of-activity li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 2px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);

}
.field-of-activity h2 {
  font-weight: bold;
}

.our-showing {
  display: grid;
  justify-items: end;
}

.our-showing h2 {
  font-weight: bold;
}

.conditions {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.percent {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}
.index {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}
.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partner-item a {
  color: var(--basic-black);
}

/* Filters */
.filters {
  min-width: 260px;
  order: 3;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.sorting {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.radio,
.filter-option,
.sorting-parameters,
.catalog-list {
  list-style: none;
}

.filter-option:hover {
  color: #4D4D4D;
  opacity: 0.4;
}

input[type="radio"] {
  background-color: #4D4D4D;
}

.filter-radio,
.filter-checkbox {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-extra-dark);
}


.sorting-parameters {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);

}

/* Catalog */

.catalog {
  order: 4;
  margin-left: 140px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;

}

.catalog-item {
  width: 359px;
  min-height: 578px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: var(--basic-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

/* Pagination */

.pagination-list {
  display: flex;
  list-style: none;
}

.pagination-item a {
  margin-left: 10px;
  color: var(--basic-black);
  background-color: var(--basic-extra-white);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--special);
}

/* Main footer */
.main-footer {
  display: grid;
  margin-top: 80px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.modal {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-footer .container {
  display: grid;
}
.footer-social {
  grid-template-rows: repeat(2, 1fr);
  /*
  grid-column: 1 / -1;
  */
  /*order:3;*/
  width: 660px;
  margin: 0;

}

.footer-social-list {
  display: flex;
  list-style: none;
  width:260px;
}
.footer-social-item {
  width:81px;
  height: 81px;
  background-color: var( --linear-gradient);
  border-radius: 50%;
}
.footer-social-item a {
  color: var(--basic-black);
}
.social-icon1 {
  position: relative;
}
.social-icon1::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 35px;
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.social-icon2 {
  position: relative;
}
.social-icon2::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 28px;
  width: 21px;
  height: 21px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.social-icon3 {
  position: relative;
}
.social-icon3::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 30px;
  width: 21px;
  height: 21px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.contacts {
  /*grid-column: 1 / -1;*/
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

.friendship {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.discount {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-dark-grey);
}
